*{
    background-color: #DEFCF9;
    text-align: center;
}
.title{
   width: 500px;
   height: 250px;
}
table, th{
    font-weight: bolder;
    font-size: medium;
    font-style: inherit;
    font-family: cursive;
    border: 3px solid #B5C0D0;
    border-collapse: collapse;
    border-radius: 10px;
    width: auto;
    background-color: #CADEFC;
  }
  table, th, td{
    font-weight: bolder;
    border: 3px solid #B5C0D0;
    border-collapse: collapse;
    border-radius: 10px;
    width: auto;
    background-color: #CADEFC;
  }
  table{
    width:100%;
    
  }
  img{
    height:200px ;
    Width:150px ;
  }
  button{
    background-color: #c3bef0;
  }
  div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  div.scroll-container img {
    padding: 10px;
  }